.hov:hover{
    box-shadow: 7px 7px 8px rgb(209, 210, 210);
}
@media only screen and (max-width: 576px) {
    .image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }
  }